<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Make it easy, client secret-->
		<add name="Connect" connectionString="AuthType=ClientSecret;url=https://your-domain.crmx.dynamics.com;ClientId=clientId;ClientSecret=clientSecret"/>
	</connectionStrings>
</configuration>